.field {
  clear: both;
  margin: 0 0 1rem;

  label {
    display: block;
    margin: 0 0 0.3rem 0;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: var(--color-dark);
  }
}


.ui {
  position: relative;
  display: grid;
  grid-template-columns: 75% 25%;
  box-sizing: border-box;
  width: 75px;
  height: 32px;
  padding: 4px;
  background-color: #ffffff;
  border: 1px solid #bebebe;
  border-radius: 3px;

  .color {
    width: 36px;
    height: 14px;
    border-radius: 2px;
  }
}
