.builder {
  display: flex;
  min-height: 100vh;
  overflow-x: scroll;
  background-color: #333;
}

.builder__pallet_container{
  position: absolute!important;
  z-index: 1000;
  width: 300px;
}

.builder__pallet{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
