@import './style/app';


.nav__logo {
  display: block;
  width: 150px;
  flex: none;
}


@include down(440) {

  @each $i in 2, 3, 4 {
    .nav__menu > *:nth-child(#{$i}n) {
      transition-delay: $i * .05s;
    }
  }
}
