// Variables
// ==================
$f-sf: 'SF Pro Text', sans-serif;
$f-gotham: 'Gotham', sans-serif;

:root{
  --color-contrast: #4f1271;
  --color-dark: #34353d;
  --color-gray: #a8a9b3;
  --color-light: #dfe0e6;
  --color-background: #f7fafb;
  --color-background-hover: #f1f1f1;
  --color-card: #f7fafb;
  --color-error: #bd3d3b;
  --color-warning: #FFA500;
  --color-info: #00BFFF;
  --color-success: #0e9f1e;
  --color-required: #f25353;
  --color-shadow: #d8e1e8;
  --color-shadow-dark: rgba(0, 0, 0, 0.2);
  --color-white: #c6dada;
}

@include dark {
    --color-contrast: #D854FF;
    --color-dark: #ebeefb;
    --color-gray: #2a2e5e;
    --color-light: #26272E;
    --color-background: #171933;
    --color-background-hover: #14172e;
    --color-card: #171933;
    --color-shadow: rgba(0, 0, 0, 0.2);
    --color-shadow-dark: #d8e1e8;
}

// Font face
// ==================

//Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("https://use.typekit.net/skv3igb.css");
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200;300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/trashhand');
@import url('https://fonts.cdnfonts.com/css/pt-banana-split');

// Style
// ==================

%big-title {
    font-family: $f-gotham;
    font-weight: bold;
    font-size: 64px;
    line-height: 1.15;

    @media only screen and (max-width: 500px) {
        font-size: 40px;
    }
}

%title-secondary,
.title-secondary {
    font-family: $f-gotham;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.15;

    @include up(500) {
        font-size: 42px;
    }
}

%h3 {
    font-family: $f-gotham;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;

    @include up(500) {
        font-size: 32px;
    }
}

.formatted {

    p,
    blockquote,
    ul,
    ol {
        margin-bottom: 1.5em;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 1rem;
    }

    h2 {
        @extend %title-secondary;
    }

    h3 {
        font-family: $f-gotham;
        font-size: 25px;
        line-height: 1.15;

        @include up(500) {
            font-size: 35px;
        }
    }

    h4 {
        font-weight: bold;
        font-family: $f-gotham;
    }

    ul,
    ol {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: flex-start;
        grid-gap: .5em;
        margin-left: 1.5em;
    }

    li {
        padding-left: space(3);
        position: relative;
    }

    ul li::before {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 8px;
        background: currentColor;
        position: absolute;
        top: 12px;
        left: 0;
    }

    ol {
        counter-reset: ol;
    }

    ol li {
        counter-increment: ol;
    }

    ol li::before {
        content: counter(ol) ".";
        position: absolute;
        top: 0;
        left: -10px;
    }

    *:last-child {
        margin-bottom: 0 !important;
    }

    blockquote {
        font-size: 1.2em;
        border-left: 4px solid currentColor;
        padding-left: 1em;
    }

    blockquote p {
        margin-bottom: 1rem;
    }

    blockquote cite {
        font-weight: 300;
        font-size: .9rem;
        font-style: italic;
    }
}
