.field {
  clear: both;
  margin: 0 0 1rem;
  max-width: 50em;

  label {
    display: block;
    margin: 0 0 0.3rem 0;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: var(--color-dark);
  }
}


.required {
  label {
    &:after{
      content: '*';
      color: var(--color-required);
      margin: -0.2em 0 0 0.2em;
    }
  }
}


.ui {
  textarea {
    border: 1px solid var(--color-gray);
    background: var(--color-background);
    color: var(--color-dark);
    font-size: 1rem;
    margin: 0;
    padding: .70em 1em;
    border-radius: .3rem;
    width: 100%;
    max-width: 100%!important;
    min-width: 100%!important;
    outline: none;
  }
}
