.actionBouton{
  height: 40px;
  margin: auto;
  color: gray;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.voir:hover{
  color: dodgerblue;
}
.modifier:hover{
  color: orange;
}
.supprimer:hover{
  color: red;
}
.base:hover{
  color: darkgrey;
}

button.actionBouton i{
  vertical-align: top;
}
