@import 'tools/mixins';
@import 'style/modules/typography';
// Header Bar
.header-bar {
    background-color: #a73500;
    width: 100%;
}

.ui.disabled.input,
.ui.input:not(.disabled) input[disabled],
.ui.disabled.search {
    opacity: 0.7 !important;
}

.ui.form .disabled.field,
.ui.form .disabled.fields .field,
.ui.form .field :disabled,
.ui.form .field.disabled > label,
.ui.form .fields.disabled > label {
    pointer-events: none;
    opacity: 1 !important;
}

#nprogress .bar {
    background: #3bff09 !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px #3bff09, 0 0 5px #3bff09;
}

#nprogress .spinner-icon {
    border-top-color: #3bff09;
    border-left-color: #3bff09;
}

.container,
.nav,
.nav__pre {
    max-width: 1370px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

// Menu Component/
/*
.menu-component {
  width: 15rem;
  display: grid !important;
  grid-template-columns: auto 1fr;
  color: red;
  transition: all 1s;
}*/

.ui.attached.segment.active.tab {
    min-height: 100vh;
    background: #e6e9ec;
}
.ui.labeled.button {
    margin: auto;
}

// table

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    overflow: hidden;
    border-radius: 10px;
    border-collapse: collapse;
    border-spacing: 0;
}

.table .thead .th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    background-color: #1abb9c;
}

.table .td,
.table .th {
    padding: 0.75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
    white-space: break-spaces;
    text-align: center;
}

.table .title {
    text-align: left;
}

.tableStriped .tbody .tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.td {
    text-align: left;
}

.filemanager_btn {
    cursor: pointer;
    position: relative;
}

.preview {
    padding-bottom: 42.8571%;
    background-size: cover !important;
    background-position: 50% !important;
}

.preview__action {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    color: #fff;
    text-align: center;
    transition: bottom 0.1s;
    padding: 5px;
    opacity: 0;
}

.filemanager_btn:hover .preview__action {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2);
}

.preview__gallery {
    min-height: 340px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

.preview__gallery img {
    width: 100%;
    height: auto;
}

.form__inline_item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    grid-gap: 10px;
}

.form__style_container {
    margin-top: 20px;
    & .title {
        text-align: center;
    }
}

.form__style_item {
    margin-bottom: 10px;
}

.ui.attached.segment.active.tab{
    overflow: scroll;
    max-height: 100px;
}

$componentsColors: #56c7fa, #f2f2f2, #f76540, #f2f2f2, #ffcb05, #f2f2f2, #62cd9f, #f2f2f2, #b67baa;
$secondaryColors: #f2f2f2, #56c, #f2f2f2, #540, #f2f2f2, #ffcb05, #f2f2f2, #62cd9f, #f2f2f2, #b67baa;
@for $i from 1 through length($componentsColors) {
    $componentsColors: append($componentsColors, darken(nth($componentsColors, $i), 25));
}
@for $i from 1 through length($secondaryColors) {
    $secondaryColors: append($secondaryColors, darken(nth($secondaryColors, $i), 25));
}

$componentsColorsLength: length($componentsColors);
$secondaryColorsLength: length($secondaryColors);

.componentBackground {
    font-family: 'Coiny', cursive;
    width: 150px;
    height: 75px;

    margin-bottom: 5%;

    box-sizing: border-box;
    border-radius: 10px 0px;
    position: relative;

    @for $i from 1 through $componentsColorsLength {
        &:nth-of-type(#{$componentsColorsLength}n + #{$i}) {
            color: nth($componentsColors, $i);
            background: linear-gradient(154deg, nth($componentsColors, $i) 50%, nth($secondaryColors, $i) 50%);
            border: 1px solid nth($componentsColors, $i);
            .tag {
                color: nth($secondaryColors, $i);
                padding: 5% 0% 0% 5%;
            }
            .label {
                position: absolute;
                bottom: 0;
                right: 0;
                padding: 0% 5% 5% 0%;
            }
        }
    }
}
