.builder {

  .layout__settings {
    display: none;
    background-color: deepskyblue;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    border-radius: 5px 5px 0 0;
    height: 24px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: flex-start;
    z-index: 100;

    .layout__settings_element {
      color: #fff;
      font-size: 12px;
      width: 24px;
      height: 24px;
      cursor: pointer;
      border: none;
      outline: 0;

      &:hover, &:active {
        background-color: dodgerblue;
      }

      &:first-child {
        border-radius: 5px 0 0 0;
      }

      &:last-child {
        border-radius: 0 5px 0 0;
      }
    }
  }

  .layout__add_section {
    width: 100%;
    padding: 40px 0;
    border: dashed 2px #d5dadf;
    text-align: center;

    ul {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      margin-top: 1em;
      margin-bottom: 1em;
      grid-gap: 20px;
      grid-row-gap: 40px;
      padding: 40px;
    }

    .preset {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      background-color: inherit;
      border: none;
      cursor: pointer;

      .preset__element {
        padding: 5px;
        background-color: grey;

        @for $i from 1 through 6 {
          &:first-child:nth-last-child(#{$i}),
          &:first-child:nth-last-child(#{$i}) ~ .preset__element {
            width: calc((100% / #{$i}) - 2px);
            text-align: center;
            padding: 5px;
            cursor: pointer;
            margin: auto;
          }
        }
      }

      &:hover {
        .preset__element {
          background-color: darkgrey;
        }
      }
    }
  }

  .layout {
    .column {
      cursor: pointer;

      .column__empty {
        height: 100%;
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        .element__first__add {
          text-align: center;
          border: 1px dashed #d5dadf;
          display: flex;
          height: 100%;
          align-items: center;
          justify-content: center;
          position: relative;
          z-index: 150;

          i {
            font-size: 19px;
            color: #a4afb7;
            cursor: pointer;
            display: inline-block;
            line-height: 1;
            text-align: center;
            padding: 5px 0;
          }

          &:hover {
            border: dashed 1px dodgerblue;

            i {
              color: dodgerblue;
            }
          }
        }
      }

      .column__populated {
        display: block;
        position: relative;
        z-index: 10;

        .element__widget {
          position: relative;
          padding: 5px;

          .element__widget__remove {
            display: none;
            background-color: #d5dadf;
            color: #000;
            font-size: 12px;
            width: 20px;
            height: 20px;
            cursor: pointer;
            border: none;
            outline: 0;
            position: absolute;
            top: 0;
            right: 0;
          }

          &:hover {
            box-shadow: 0 0 0 1px deepskyblue;

            .element__widget__remove {
              display: block;
            }
          }
        }
      }

      &:hover {
        &::after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          outline: 1px dashed #6d7882;
          z-index: 1;
        }
      }
    }
  }

  &:hover {
    width: 100%;
    position: relative;
    box-shadow: 0 0 0 2px deepskyblue;
    z-index: 20;

    .layout__settings {
      display: grid;
    }
  }
}

.layout {

  .column {
    position: relative;
    padding: 10px;
    height: 100%;
    z-index: 10;

    @for $i from 1 through 6 {
      &:first-child:nth-last-child(#{$i}),
      &:first-child:nth-last-child(#{$i}) ~ .column {
        width: calc(100% / #{$i});
      }
    }

    @media only screen and (max-width: 1000px) {
      &:first-child:nth-last-child(6),
      &:first-child:nth-last-child(6) ~ .column {
        width: calc(100% / 3);
      }
    }

    @media only screen and (max-width: 800px) {
      &:first-child:nth-last-child(5),
      &:first-child:nth-last-child(5) ~ .column {
        width: 33%;
        margin: auto;
      }

      &:first-child:nth-last-child(4),
      &:first-child:nth-last-child(4) ~ .column {
        width: calc(100% / 2);
        margin: auto;
      }
    }

    @media only screen and (max-width: 500px) {
      @for $i from 1 through 6 {
        &:first-child:nth-last-child(#{$i}),
        &:first-child:nth-last-child(#{$i}) ~ .column {
          width: 100%;
        }
      }
    }
  }
}

.header__layout {
  z-index: 100;

  &.layout {
    align-items: center;

    .column {
      @for $i from 1 through 6 {
        &:first-child:nth-last-child(#{$i}),
        &:first-child:nth-last-child(#{$i}) ~ .column {
          width: 100% / $i;
        }
      }
    }
  }
}

.tablet__preview {

  .layout__add_section {

    ul {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .column {
    &:first-child:nth-last-child(5),
    &:first-child:nth-last-child(5) ~ .column {
      width: 33%;
      margin: auto;
    }
  }
}

.mobile__preview {

  .layout__add_section {

    ul {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .column {
    @for $i from 1 through 6 {
      &:first-child:nth-last-child(#{$i}),
      &:first-child:nth-last-child(#{$i}) ~ .column {
        width: 100%;
      }
    }
  }
}
