.AddDisposition {
    width: 100%;
    padding: 40px 0;
    border: dashed 2px #d5dadf;
    text-align: center;
    margin-top: 45px;

    & button {
        border-radius: 50px;
        font-family: Arial, serif;
        background-color: dodgerblue;
        color: #fff;
        font-size: 24px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        border: none;
        outline: 0;
    }

    & button:hover {
        background-color: blue;
    }
}
