.card {
  background: var(--color-card);
  border-radius: 0.3em;
  border: solid 1px var(--color-gray);
}

.card_header, .card_body, .card_footer {
  padding: 1rem;
  color: var(--color-dark);
  box-shadow: none;
}
.card_header {
  border-bottom: 1px solid var(--color-gray);
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-weight: 600;
      font-size: 1.5rem;
      color: var(--color-dark);
    }
  }

  .meta {
    font-size: 1em;
    color: var(--color-dark);
  }
}


.card_footer {
  border-top: 1px solid var(--color-gray);
  color: var(--color-dark);
}
