.card {
  background: var(--admin-card);
  border-radius: 5px;

  h3 {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--admin-color);
  }
}

.card_header, .card_body {
  padding: 1rem;
}
.card_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
