@import "style/tools/mixins";

.button {
    font-size: 1.5rem;
    display: inline-block;
    margin-left: .5rem;
    color: var(--main-color);

    &:hover {
        color: darkenFromVar(var(--main-color), 0.2);
    }
}
