@import "style/tools/mixins";

.button {
    background: var(--admin-main-color);
    border-radius: 10px;
    color: #FFF;
    font-size: .8rem;
    padding: .5rem 1rem;
    border: 1px solid var(--admin-border);

    &:hover {
        color: #FFF;
        background: darkenFromVar(var(--admin-main-color), 0.2);
    }

    span {
        margin-left: .5rem;
    }
}
