.navigation {
  display: grid;
  grid-template-columns: (150px auto);
  grid-gap: 15px;
  width: 100%;
  background-color: var(--color-background);
  border: solid 1px var(--color-gray);
  position: fixed;
  transition: transform 0.5s;
  z-index: 1001;
  height: 140px;
  bottom: 0;
  overflow: visible;

  main {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    overflow-x: scroll;

    & > *  {
      margin-right: 10px;
    }
  }

  .actions {
    display: grid;
    padding: 5px;
    grid-gap: 5px;
    width: 150px;
    margin: auto;
    align-items: center;
  }


}

.tab {
  display: none;
  position: absolute;
  width: 195px;
  height: 30px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: solid 1px var(--color-gray);
  border-bottom: none;
  background: var(--color-background);
  top: calc(100% - 170px);
  cursor: pointer;
  transition: background-color .2s, width .5s, top .5s, height .5s;
  z-index: 200;

  &.visible {
    display: block;
  }

  .moveCursor {
    display: none;
    cursor: grab;font-size: 1rem;
    position: absolute;
    top: 15px;
    right: 15px;
    color: var(--color-dark);
  }

  &.left {
    left: 10px;
  }

  &.right {
    right: 55px;
  }

  &:hover {
    background: var(--color-gray);
  }

  .header {
    display: flex;
    font-size: 1rem;
    color: var(--color-dark);
    font-family: Poppins, sans-serif;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 100%;
  }

  .content {
    display: none;
  }

  &.active {
    top: 50px;
    height: calc(100% - 50px);
    width: 355px;
    border: solid 1px var(--color-contrast);

    .moveCursor {
      display: block;
    }

    &.small {
      top: calc(100% - 470px);
      height: calc(100% - (100% - 470px));
    }

    &:hover {
      background: var(--color-background);
    };

    .header {
      height: 50px;
      font-size: 1.3rem;
      color: var(--color-contrast);
    }

    .content {
      display: block;
      padding: 10px;
      height: calc(100% - 190px);
      overflow-y: scroll;

      .errors {
        position: absolute;
        bottom: 140px;
        left: 0;
        width: 100%;
        z-index: 1000;
        padding: 10px;
      }
    }
  }
}
