.table {
  width: 100%;
  border-collapse: collapse;

  .thead {
    tr {
      border-top: solid 1px var(--admin-border);
      border-bottom: solid 2px var(--admin-border);

      &:hover, &:focus{
        background: inherit;
      }
    }

    td {
      font-weight: 700;
    }
  }

  td {
    padding: .5rem 1rem;
    font-size: .9rem;
    color: #222;
  }

  tr {
    &:hover, &:focus{
      background: var(--admin-table-hover);
    }
    td {
      vertical-align: middle;
      color: var(--admin-color);
    }
  }
}

.table_responsive {
  width: 100%;
  overflow-x: auto;
}
