.table {
  width: 100%;
  border-collapse: collapse;

  .thead {
    tr {
      border-top: solid 1px var(--color-gray);
      border-bottom: solid 2px var(--color-gray);

      &:hover, &:focus{
        background: inherit;
      }
    }

    td {
      font-weight: 700;
    }
  }

  td {
    padding: .5rem 1rem;
    font-size: .9rem;
    color: #222;
    min-width: 150px;
  }

  tr {
    &:hover, &:focus{
      background: var(--color-gray);
    }
    td {
      vertical-align: middle;
      color: var(--color-dark);

      p {
        font-size: 0.8rem;
        color: var(--color-info);
        word-break: normal;
      }
      a {
        margin-left: 10px;
      }
    }
  }
}

.table_responsive {
  width: 100%;
  overflow-x: auto;
}
