.filemanager {
  min-height: 400px;
  max-height: 400px;

  .filemanager__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 125px);
    grid-gap: 10px;

    .element {
      .icon {
        border: solid 1px var(--color-gray);
        cursor: pointer;
        outline: none;
        height: 125px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      p {
        text-align: center;
        cursor: pointer;
      }

      svg {
        padding: 5px;
        width: 110px;
        height: 110px;
      }

      &.selected {
        .icon {
          border: solid 1px #00cd00;
        }

        p {
          color: #00cd00;
        }

        &:hover {
          .icon {
            border: solid 1px red;
          }

          p {
            color: red;
          }
        }
      }

      &:hover {
        .icon {
          border: solid 1px dodgerblue;
        }

        p {
          color: dodgerblue;
        }
      }
    }
  }
}

.filemanager__upload__container {
  top: 25%;
  text-align: center;

  button {
    margin-top: 15px !important;
  }
}
