.filemanager__container{
  display: grid;
  grid-template-columns: repeat(auto-fit, 125px);
  grid-gap: 10px;

  .element{
    border: solid 1px var(--admin-border);
    cursor: pointer;
    outline: none;

    &:hover{
      border: solid 2px dodgerblue;
    }

    &.selected{
      border: solid 2px lime;

      &:hover{
        border: solid 2px red;
      }
    }
  }
}

.filemanager__files{
  vertical-align: middle;
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
  overflow: hidden;
  display: flex;

  span{
    margin-top: auto;
    margin-bottom: auto;
    min-width: 155px;
  }

  img{
    width: 35px;
    height: 35px;
    margin-left: 10px;
  }

  img:nth-child(12){
    opacity: .3;
  }
}

.filemanager__upload__container{
  top: 25%;
  text-align: center;

  button{
    margin-top: 15px!important;
  }
}
