.login__container{
    background: #545454;
    height: 100%;
    width: 100%;
    min-height: 100vh;
}

.login__container form{
    height: 300px;
    width: 500px;
    background-color: #fff;
    padding: 40px 35px;
    position: absolute!important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.login__container button, .login__container h2 {
    text-align: center;
    width: 100%!important;
}
