.content {
    display: block;
    position: relative;
    width: calc(100% - 350px);
    transition: transform 0.5s, width 0.5s;
    transform: translateX(350px);
    min-width: 1050px;
}

.hide .content {
    width: 100%;
    transform: translateX(0px);
}

.container {
    padding: 0 100px;
}
