.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 8px;
  max-width: 1370px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 24px auto 48px;
  width: 100%;
}

.title {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.15;
  color: var(--color-dark);
}

.meta {
  display: flex;
  align-items: center;

  & > * + * {
    margin-left: 8px;
  }

  .tag {
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    align-items: center;
    color: var(--color-contrast);
    padding: 0 10px;
    display: inline-block;
    background: var(--color-gray);
    border-radius: 4px;
    justify-self: flex-start;
    transition: color .3s;
    cursor: pointer;

    &:hover {
      background: var(--color-light);
    }
  }

  .date {
    font-size: .8em;
    opacity: .75;
  }
}

@media only screen and (max-width: 1000px) {
  .title {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 500px) {
  .title {
    font-size: 2rem;
  }
}
