@import "style/tools/mixins";

.container {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.tilt {
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  display: block;
  margin: auto;
}

.inner {
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--color-dark);
  letter-spacing: 0.15rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 60px);
}

.login_wrapper {
  width: 960px;
  background: var(--color-background);
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  justify-content: space-between;
  padding: 100px 95px;

  img{
    display: block;
    margin: auto;
  }

  form{
    margin: auto;
    width: 100%;
  }
}

.login_title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: var(--color-dark);
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 54px;
}


@media only screen and (max-width: 920px) {
  .login_wrapper{
    grid-template-columns: 100%;
    padding: 50px 50px;
  }
}
