.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    transition: left 0.5s, width 0.5s, min-width 0.5s, max-width 0.5s;
    left: 177px;
    min-width: 1050px;
    max-width: calc(100% - 355px);
    width: 100%;
    background-color: #FFF;
    margin: 0 auto;

    &.hide {
        left: 0;
        max-width: 100%;
    }
}

.tablet__preview{
    min-width: 775px;
    max-width: 775px;
}

.mobile__preview{
    min-width: 360px;
    max-width: 360px;
}
