.content {
    display: block;
    position: relative;
    width: calc(100% - 350px);
    transition: left 0.5s, width 0.5s, min-width 0.5s, max-width 0.5s;
    left: 175px;
    min-width: 1050px;
    max-width: 100%;
    background-color: #FFF;
    margin: 0 auto;
}

.hide.content {
    width: 100%;
    left: 0;
}

.tablet__preview{
    min-width: 775px;
    max-width: 775px;
}

.mobile__preview{
    min-width: 360px;
    max-width: 360px;
}
