.field{
  clear: both;
  margin: 0 0 1rem;
  position: relative;

  input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    min-height: auto;
  }

  label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    margin: 0 0 0.3rem 0;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: var(--color-dark);
  }

  input:checked+label .switch::before {
    transform: translateX(31px);
  }

  input:checked+label .switch {
    background: #0f1224!important;
  }
}

.switch {
  flex: none;
  width: 55px;
  height: 26px;
  display: inline-block;
  background: var(--color-background);
  border: 1px solid var(--color-gray);
  box-shadow: 0 1px 4px rgb(213 222 233 / 20%);
  border-radius: 100px;
  margin-right: 8px;
  transition: background .3s;

  &.switch::before {
    content: "";
    display: block;
    height: 24px;
    width: 24px;
    background: var(--color-light);
    border: 1px solid var(--color-gray);
    box-shadow: 0 1px 4px rgb(213 222 233 / 20%);
    border-radius: 100px;
    transition: transform .3s;
  }
}

.required {
  label {
    &:after{
      content: '*';
      color: var(--color-required);
      margin: -0.2em 0 0 0.2em;
    }
  }
}
