.layout {
    width: 100%;
    position: relative;
    z-index: 1;
}
.header__layout{
    z-index: 100;
}

.layout:hover {
    width: 100%;
    position: relative;
    margin: 10px auto;
    border: solid 1px deepskyblue;
}

.layout__remove_btn {
    display: none;
}

.layout:hover .layout__remove_btn {
    display: block;
    background-color: deepskyblue;
    color: #fff;
    font-size: 12px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    outline: 0;
    position: absolute;
    top: -1px;
    right: -20px;
}

.layout:hover .layout__remove_btn:hover,
.layout:hover .layout__remove_btn:active {
    background-color: dodgerblue;
}

.layout__no_columns {
    width: 100%;
    padding: 40px 0;
    border: dashed 2px #d5dadf;
    text-align: center;
}

.layout__btn {
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.layout__no_columns ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
    grid-gap: 20px;
    grid-row-gap: 40px;
    padding: 40px;
}

.layout__container {
    display: flex;
    flex-wrap: wrap;
}

@for $i from 1 through 6 {
    .column:first-child:nth-last-child(#{$i}),
    .column:first-child:nth-last-child(#{$i}) ~ .column {
        width: 100% / $i;
        text-align: center;
        cursor: pointer;
    }
}

.column__populated {
    display: block;
    position: relative;
    z-index: 10;
}

.column__empty {
    z-index: 10;
    min-height: 40px;
    height: 100%;
}

.column__empty:hover {
    border: dashed 1px dodgerblue;
}

.column {
    position: relative;
    padding: 10px;
}

.column:hover::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    outline: 2px dashed #6d7882;
    z-index: 1;
}

.element__wrap {
    position: relative;
    height: 100%;
    z-index: 10;
}

.element__widget {
    position: relative;
}

.element__widget:hover {
    box-shadow: 0 0 0 1px deepskyblue;
}

.element__widget {
    padding: 5px;
}

.element__widget__remove {
    display: none;
    background-color: #d5dadf;
    color: #000;
    font-size: 12px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    outline: 0;
    position: absolute;
    top: 0;
    right: 0;
}

.element__widget:hover .element__widget__remove {
    display: block;
}

@media only screen and (max-width: 1000px) {
    @for $i from 6 through 6 {
        .column:first-child:nth-last-child(#{$i}),
        .column:first-child:nth-last-child(#{$i}) ~ .column {
            width: 100% / ($i / 2);
        }
    }
}

@media only screen and (max-width: 800px) {
    @for $i from 5 through 5 {
        .column:first-child:nth-last-child(#{$i}),
        .column:first-child:nth-last-child(#{$i}) ~ .column {
            width: 33%;
            margin: auto;
        }
    }
    @for $i from 4 through 4 {
        .column:first-child:nth-last-child(#{$i}),
        .column:first-child:nth-last-child(#{$i}) ~ .column {
            width: 100% / ($i / 2);
            margin: auto;
        }
    }
}

@media only screen and (max-width: 500px) {
    @for $i from 1 through 6 {
        .column:first-child:nth-last-child(#{$i}),
        .column:first-child:nth-last-child(#{$i}) ~ .column {
            width: 100%;
        }
    }
}

.structure {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

@for $i from 1 through 6 {
    .structure__element:first-child:nth-last-child(#{$i}),
    .structure__element:first-child:nth-last-child(#{$i}) ~ .structure__element {
        width: (100% / $i) - 5%;
        text-align: center;
        padding: 5px;
        cursor: pointer;
        margin: auto;
    }
}

.structure__element {
    padding: 5px;
    background-color: grey;
}

.structure:hover .structure__element {
    background-color: darkgrey;
}

@media only screen and (max-width: 800px) {
    .container {
        padding: 0 30px;
    }
    .layout__no_columns ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 500px) {
    .container {
        padding: 0 10px;
    }
    .layout__no_columns ul {
        grid-template-columns: repeat(1, 1fr);
    }
}

.element__first__add {
    text-align: center;
    border: 1px dashed #d5dadf;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.element__first__icon {
    font-size: 19px;
    color: #a4afb7;
    cursor: pointer;
}
.column__empty:hover .element__first__icon i{
    color: dodgerblue;
}

.tablet__preview{
    @for $i from 5 through 5 {
        .column:first-child:nth-last-child(#{$i}),
        .column:first-child:nth-last-child(#{$i}) ~ .column {
            width: 33%;
            margin: auto;
        }
    }
    .container {
        padding: 0 30px;
    }
    .layout__no_columns ul {
        grid-template-columns: repeat(2, 1fr);
    }
}
.mobile__preview{
    @for $i from 1 through 6 {
        .column:first-child:nth-last-child(#{$i}),
        .column:first-child:nth-last-child(#{$i}) ~ .column {
            width: 100%;
        }
    }
    .container {
        padding: 0 10px;
    }
    .layout__no_columns ul {
        grid-template-columns: repeat(1, 1fr);
    }
}

//Render
.render {
    &:first-child {
        margin-top: 0;
    }
    &.layout {
        border: none;
    }
    &.layout:hover {
        border: none;
    }

    .column {
        cursor: default !important;
    }

    .column:hover::after {
        content: none;
    }

    .element__widget:hover {
        box-shadow: none;
    }
}

.menu__elements{
    visibility: hidden;
    width: 150px;
    height: 150px;
    background-color: red;
    color: white;
    position: absolute;
    bottom: -150px;
}

.element__first__add:hover .menu__elements {
    visibility: visible;
}

.header__layout {
    .layout__container {
        align-items: center;
    }
    @for $i from 1 through 6 {
        .column:first-child:nth-last-child(#{$i}),
        .column:first-child:nth-last-child(#{$i}) ~ .column {
            width: 100% / $i;
        }
    }
}
