@import './style/app';

// Header
// ==========================================================================
.produit__title {
  @extend %big-title;
  margin-bottom: space(1);
  color: #2c2e36;
}
.produit__price {
  color: $orange;
  font-weight: 600;
}
.produit__meta {
  font-size: 22px;

  & > * + * {
    margin-top: space(1);
  }
  @include up(500) {
    display: flex;

    & > * + * {
      margin-top: 0;
      margin-left: space(2);
    }
  }
}
.produit__form {
  margin-top: space(7);
}
.produit__actions {
  display: flex;
  margin-top: space(7);

  & > * + * {
    margin-left: space(2);
  }
}
.produit__photos {
  position: relative;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);

  &::before,
  &::after {
    z-index: 2;
    pointer-events: none;
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    height: 100%;
  }
  &::after {
    left: auto;
    right: 0;
    transform: scaleX(-1);
  }
}
.produit__photos img {
  display: block;
  width: 100%;
  height: auto;
}
.produit_header > * + * {
  margin-top: space(8);
}

// Body
// ==========================================================================
.produit_body {
  margin-top: space(10);
}
.produit_body__title {
  @extend %title-secondary;
  margin-bottom: space(3);
  color: #2c2e36;
}

@include up(1100) {
  .produit_header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: space(6);
    align-items: center;
  }
  .produit_header > * + * {
    margin-top: 0;
  }
}
