/*@import './style/app';

// Push biens
// ==================
.push-products {
  position: relative;
}
.push-products__title {
  @extend %big-title;
  margin-bottom: space(3);
}
.push_products__grid {
  display: grid;
  grid-gap: space(4);
  margin-top: 45px;

  @include up(620) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include up(1385) {
    grid-template-columns: repeat(4, 1fr);
  }
}
.push-products__action {
  margin-top: space(4);
}
@include up(1120) {
  .push-products__action {
    position: absolute;
    bottom: 54px;
    left: 83px;
  }
}

.archive-product__grid{
  display: grid;
  grid-template-columns: 25% 1fr;
}

.archive-product__grid .push-products__grid {
  @include up(620) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include up(1385) {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Biens
// ==================
.product {
  font-size: 18px;
  text-decoration: none;
  color: #2c2e36;
}
.product__image {
  margin-bottom: space(2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  overflow: hidden;
}
.product img {
  width: 100%;
  height: auto;
  display: block;
  transition: .5s;
  border-radius: 4px;
}
a.product:hover{
  color: inherit;
}
a.product:hover img {
  opacity: 0.8;
  transform: scale(1.02);
}
.product__body {
  display: grid;
  grid-column-gap: space(2);
  grid-template-columns: repeat(2, auto);
}
.product__title {
  font-weight: 600;
  font-size: 18px;
  margin: 0;
  padding: 0;
  line-height: 1.4;

  a.product:hover & {
    text-decoration: underline;
  }
}
.product__price {
  text-align: right;
  font-weight: 600;
  color: $orange;
}
@include up(1600) {
  // Page listing
  // ==================
  .page-products {
    display: grid;
    grid-auto-flow: dense;
    grid-gap: 32px;
    grid-template-columns: 1fr;
  }
}
@include down(830) {
  .page-products .search-form__title {
    font-size: 49px;
  }
}
@include up(650) {
  .product--large {
    grid-column: span 2;
  }
}
@include between(650, 1080) {
  .page-products {
    grid-template-columns: repeat(2, 1fr);
  }
  .page-products .search-form {
    grid-row: 1 / span 3;
  }
  .page-products .search-form__form {
    grid-template-columns: 1fr;
  }
  .page-products .search-form__checkbox,
  .page-products .search-form .btn  {
    grid-column: span 1;
  }
}
@include up(1080) {
  .page-products {
    grid-template-columns: repeat(3, 1fr);
  }

  .page-products .search-form {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    margin-right: 123px;
  }
}

// Pagination
// ==================
.pagination {
  margin-top: space(8);
  text-align: center;
}
*/
