.navigation {
  width: 350px;
  background-color: var(--admin-background);
  border-right: solid 1px var(--admin-border);
  position: fixed;
  transition: transform 0.5s;
  z-index: 100;
  display: grid;
  grid-template-rows: auto 50px;
  min-height: 100vh;
}

.hide.navigation {
  transform: translateX(-350px);
}

.hideMenuBtn {
  position: fixed;
  top: 50%;
  left: 332px;
  width: 40px;
  height: 40px;
  border: solid 1px var(--admin-border);
  background-color: var(--admin-background);
  border-radius: 50%;
  color: var(--admin-color);
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  transition: left 0.5s;
  z-index: 1;
}

.hide.hideMenuBtn {
  left: -18px;
}

.hideMenuBtn:after {
  content: '<';
  position: relative;
  top: 5px;
  left: 20px;
  cursor: pointer;
}

.hide.hideMenuBtn:after {
  content: '>';
}

.hide.hideMenuBtn:after {
  content: '>';
}

.navGrid {
  display: flex;
  flex-wrap: wrap;


  .droppable {
    display: grid;
    grid-gap: 5px;
    width: 48%;
    height: 100%;
    margin: 0 auto;
  }
}

.navigation__bottom_menu{
  display: grid;
  grid-template-columns: auto 130px 130px;
  grid-gap: 5px;
  height: 45px;
  margin-left: 10px;
  margin-right: 10px;

  & button, & div{
    z-index: 100;
    margin-top: auto;
    margin-bottom: auto;
  }
}
