.card_single {
  display: flex;
  justify-content: space-between;
  background: var(--color-card);
  padding: 2rem;
  border-radius: 2px;
  border: solid 1px var(--color-gray);

  h2 {
    color: var(--color-dark);
  }

  div:first-child span {
    color: var(--color-dark);
  }

  div:last-child span {
    color: var(--color-contrast);
    font-size: 3rem;
  }

  &:last-child {
    background: var(--color-contrast);

    div:first-child span, div:last-child span, h2 {
      color: var(--color-light);
    }
  }
}
