.card_single {
  display: flex;
  justify-content: space-between;
  background: var(--admin-card);
  padding: 2rem;
  border-radius: 2px;

  h2 {
    color: var(--admin-color);
  }

  div:first-child span {
    color: var(--admin-text-grey);
  }

  div:last-child span {
    color: var(--admin-icon);
    font-size: 3rem;
  }

  &:last-child {
    background: var(--admin-main-color);

    div:first-child span, div:last-child span, h2 {
      color: #FFF;
    }
  }
}
