.accordion {
  background-color: var(--color-background);
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-bottom: 10px;
}

.accordion__title{
  width: 100%;
  text-align: left;
  color: var(--color-dark);
  font-weight: bold;
  padding: 10px 10px;
  display: grid;
  grid-template-columns: 20px auto;
}

.accordion__title i:before {
  display: inline-block;
  transform: rotate(-90deg);
  transition: transform .2s;
}

.accordion__title.active i:before {
  display: inline-block;
  transform: rotate(0deg);
}

.accordion__title:hover {
  background-color: #ccc;
}

.accordion__title.active{
  border-bottom: 1px solid var(--color-gray);
}

.accordion__content {
  padding: 20px 15px;
  background-color: var(--color-background);
  display: none;
}

.accordion__content.active {
  display: grid;
  grid-gap: 15px;
  border-radius: 5px;
}


.accordion label{
  display: block;
  font-weight: bold;
  font-family: Roboto, serif;
  margin-bottom: 5px;
}

.border {
  border: solid 1px var(--color-gray);
  border-radius: 5px;
  & .accordion__title{
    background-color: var(--color-background);
    border-radius: 5px;
  }
}
