@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import "style/tools/mixins";

.admin {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

.sidebar {
  width: 345px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: var(--admin-sidebar-color);
  z-index: 100;
  transition: width 0.3s;
}

.sidebar_brand {
  height: 90px;
  padding: 1rem 0 1rem 2rem;
  color: #FFF;

  span {
    display: inline-block;
    padding-right: 1rem;
  }
}

.sidebar_menu {
  margin-top: 1rem;

  li {
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 1rem;
  }

  a {
    display: block;
    color: #FFF;
    font-size: 1.1rem;
    padding-left: 1rem;

    span:first-child {
      font-size: 1.5rem;
      padding-right: 1rem;
    }

    &.active {
      background: #FFF;
      padding-top: 1rem;
      padding-bottom: 1rem;
      color: var(--admin-main-color);
      border-radius: 30px 0 0 30px;
    }
  }
}

.main_content {
  margin-left: 345px;
  transition: margin-left 0.3s;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  box-shadow: 2px 2px 5px var(--admin-shadow);
  position: fixed;
  left: 345px;
  width: calc(100% - 345px);
  top: 0;
  z-index: 100;
  background: var(--admin-header);
  transition: left 0.3s, width 0.3s;

  h2, h4 {
    color: var(--admin-color);
  }

  label span {
    font-size: 1.7rem;
    padding-right: 1rem;
    cursor: pointer;
  }
}

.search_wrapper {
  border: 1px solid var(--admin-border);
  border-radius: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  overflow-x: hidden;

  span {
    display: inline-block;
    padding: 0 1rem;
    font-size: 1.5rem;
    color: var(--admin-color);
  }

  input {
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
    background: var(--admin-header);
    color: var(--admin-color);
  }
}

.user_wrapper {
  display: flex;
  align-items: center;

  img {
    border-radius: 50%;
    margin-right: 1rem;
    width: 40px;
    height: 40px;
  }

  small {
    display: inline-block;
    color: var(--admin-text-grey);
  }
}

.main {
  margin-top: 78px;
  padding: 2rem 1.5rem;
  background: var(--admin-background);
  min-height: calc(100vh - 78px);
}


.nav_toggle {
  display: none;

  &:checked + .sidebar {
    width: 70px;

    .sidebar_brand h2 span:last-child, li a span:last-child {
      display: none;
    }

    .sidebar_brand, li {
      padding-left: 1rem;
      text-align: center;
    }

    li a {
      padding-left: 0;
    }
  }

  &:checked ~ .main_content {
    margin-left: 70px;

    .header {
      width: calc(100% - 70px);
      left: 70px;
    }
  }
}


@media only screen and (max-width: 1200px) {
  .sidebar {
    width: 70px;

    .sidebar_brand h2 span:last-child, li a span:last-child {
      display: none;
    }

    .sidebar_brand, li {
      padding-left: 1rem;
      text-align: center;
    }

    li a {
      padding-left: 0;
    }
  }

  .main_content {
    margin-left: 70px;

    .header {
      width: calc(100% - 70px);
      left: 70px;
    }
  }

  .sidebar:hover {
    width: 345px;
    z-index: 200;

    .sidebar_brand h2 span:last-child, li a span:last-child {
      display: inline;
    }

    .sidebar_brand, li {
      padding-left: 2rem;
      text-align: left;
    }

    li a {
      padding-left: 1rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  .search_wrapper {
    display: none;
  }

  .sidebar {
    left: -100% !important;
  }

  .header {
    width: 100% !important;
    left: 0 !important;

    h2 {
      font-size: 1.1rem;

      label {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding-right: 0;
        margin-right: 1rem;
        height: 40px;
        width: 40px;
        background: var(--admin-main-color);
        color: #FFF;
        border-radius: 50%;

        span {
          padding-right: 0;
        }
      }
    }
  }

  .main {
    margin-top: 70px;
    min-height: calc(100vh - 70px);
  }

  .main_content {
    width: 100%;
    margin-left: 0;
  }

  .nav_toggle:checked {
    & + .sidebar {
      left: 0 !important;
      z-index: 100;
      width: 345px;

      .sidebar_brand h2 span:last-child, li a span:last-child {
        display: inline;
      }

      .sidebar_brand, li {
        padding-left: 2rem;
        text-align: left;
      }

      li a {
        padding-left: 1rem;
      }
    }

    & ~ .main_content {
      margin-left: 0;
    }
  }
}

