.timeAgo {
  cursor: pointer;

  .relative {
    display: block;
  }

  .full {
    display: none;
  }

  &:hover {
    .relative {
      display: none;
    }

    .full {
      display: block;
    }
  }
}
