.recent_grid {
  margin-top: 3.5rem;
  display: grid;
  grid-template-columns: 65% auto;
  grid-gap: 2rem;
}

@media only screen and (max-width: 960px) {
    .recent_grid{
    grid-template-columns: repeat(2, 1fr);
  }
}


@media only screen and (max-width: 768px) {
  .recent_grid{
    grid-template-columns: 100%;
  }
}

.comingsoon {
  color: var(--color-dark);
  font-size: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 69vh;

  span {
    transform: rotate(-25deg);
  }
}
