@import "style/tools/mixins";

.button {
  font-size: 1.5rem;
  display: inline-block;
  margin-left: .5rem;
  color: var(--admin-icon);
  min-height: 35px;

  &:hover {
    color: darkenFromVar(var(--admin-icon), 0.2);
  }
}
