.field {
  clear: both;
  margin: 0 0 1rem;

  label {
    display: block;
    margin: 0 0 0.3rem 0;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: var(--admin-color);

    .subLabel {
      float: right;

      span{
        font-weight: normal;
        margin-right: 5px;
        cursor: pointer;

        &[data-selected=true]{
          font-weight: bold;
          color: var(--admin-text-grey)
        }
      }
    }
  }
}


.required {
  label {
    &:after{
      content: '*';
      color: #FF0000;
      margin: -0.2em 0 0 0.2em;
    }
  }
}


.ui {
  input {
    border: 1px solid var(--admin-border);
    background: var(--admin-header);
    color: var(--admin-color);
    font-size: 1rem;
    margin: 0;
    padding: .70em 1em;
    border-radius: .3rem;
    width: 100%;

    &.error {
      border-color: #9f3a38;
    }
  }

  span {
    &.error {
      color: #9f3a38;
      font-weight: 600;
    }
  }
}
