.ui {
  .header {
    display: flex;
    font-size: 0.9rem;
    font-family: 'Poppins' ,sans-serif;
    font-weight: 400;
    border-bottom: 2px solid var(--color-gray);
    height: 3em;
  }

  .item {
    display: flex;
    align-items: center;
    position: relative;
    vertical-align: middle;
    line-height: 1;
    text-decoration: none;
    flex: 0 0 auto;
    user-select: none;
    background: 0 0;
    padding: 1em 1.15em;
    text-transform: none;
    color: var(--color-dark);
    font-weight: 400;
    transition: background .1s ease,box-shadow .1s ease,color .1s ease;
    cursor: pointer;
    outline: none;
    border-bottom: solid 2px var(--color-gray);
    margin: 0 0 -2px;

    &.active {
      font-weight: 700;
      border-bottom-color: var(--color-dark);
    }


  }
}

.tab {
  display: block;
  position: relative;
  color: var(--color-dark);
  padding: 1em 1em;
  min-height: 100%;
}

.pane {
  display: none;

  &.active {
    display: block;
  }
}
