.fileManager_btn {
  cursor: pointer;
  position: relative;;
  margin: 0 0 1rem;
  max-width: 50em;
  border: solid 1px var(--color-gray);
  border-radius: 0.3rem;
}

.preview {
  padding-bottom: 42.8571%;
  background-size: contain!important;
  background-position: 50% !important;
  background-repeat: no-repeat!important;
}

.preview__action {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  color: #fff;
  text-align: center;
  transition: bottom 0.1s;
  padding: 5px;
  opacity: 0;
}

.fileManager_btn:hover .preview__action {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
}
