.component {
  position: relative;
  width: 150px;
  height: 100px;
  display: flex;
  flex-direction: column;
  border: solid 1px var(--color-gray);
  background: var(--color-background);
  color: var(--color-dark);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  font-size: .9rem;
  font-family: Poppins, sans-serif;
  cursor: move;

  i {
    font-size: 2rem;
    transition: .5s ease-out;
    transform-origin: center;
    margin-bottom: 15px;
  }

  &:hover {
    &.purple {
      color: purple;
      border-color: purple;

      i {
        transform: translateZ(0) rotate(360deg) scale(1);
      }
    }

    &.green {
      color: green;
      border-color: green;

      i {
        animation-duration: 1s;
        animation-name: swing
      }
    }

    &.blue {
      color: #56c7fa;
      border-color: #56c7fa;

      i {
          animation-name: wobble;
          animation-duration: 1s;
          animation-timing-function: ease-in-out;
      }
    }

    &.violet {
      color: violet;
      border-color: violet;

      i {
          animation-name: buzz;
          animation-duration: 0.75s;
          animation-timing-function: linear;
      }
    }

    &.red {
      color: red;
      border-color: red;

      i {
        animation-name: pulse;
        animation-duration: 0.3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
    }

    &.yellow {
      color: #ffcb05;
      border-color: #ffcb05;

      i {
        animation-name: heartBeat;
        animation-duration: 1.3s;
        animation-timing-function: ease-in-out
      }
    }

    &.orange {
      color: #f76540;
      border-color: #f76540;

      i {
        animation-name: flip;
        animation-duration: 1.3s;
        backface-visibility: visible;
      }
    }

    &.brown {
      color: #540;
      border-color: #540;

      i {
        animation-name: bounce;
        animation-duration: 1s;
      }
    }

    &.teal {
      color: #62cd9f;
      border-color: #62cd9f;

      i {
        animation-name: rubberBand;
        animation-duration: 1s;
        animation-timing-function: ease-in-out
      }
    }

    &.pink {
      color: #b67baa;
      border-color: #b67baa;

      i {
        animation-name: shake;
        animation-duration: 1.3s;
        animation-timing-function: ease-in-out
      }
    }
  }
}

@keyframes pulse {
  100% {
    transform: scale(0.8);
  }
}

@keyframes buzz {
  10% {
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    transform: translateX(1px) rotate(0);
  }
  100% {
    transform: translateX(-1px) rotate(0);
  }
}

@keyframes wobble {
    16.65% {
        transform: translate(8px, 8px);
    }
    33.3% {
        transform: translate(-6px, -6px);
    }
    49.95% {
        transform: translate(4px, 4px);
    }
    66.6% {
        transform: translate(-2px, -2px);
    }
    83.25% {
        transform: translate(1px, 1px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes swing {
  20% {
    transform: rotate(15deg)
  }
  40% {
    transform: rotate(-10deg)
  }
  60% {
    transform: rotate(5deg)
  }
  80% {
    transform: rotate(-5deg)
  }
  100% {
    transform: rotate(0deg)
  }
}

@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3)
  }
  28% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3)
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@keyframes rubberBand {
  0% {
    transform: scaleX(1)
  }
  30% {
    transform: scale3d(1.25, .75, 1)
  }
  40% {
    transform: scale3d(.75, 1.25, 1)
  }
  50% {
    transform: scale3d(1.15, .85, 1)
  }
  65% {
    transform: scale3d(.95, 1.05, 1)
  }
  75% {
    transform: scale3d(1.05, .95, 1)
  }
  100% {
    transform: scaleX(1)
  }
}

@keyframes flip {
  0% {
    transform: perspective(400px) scaleX(1) translateZ(0) rotateY(-1turn);
    animation-timing-function: ease-out
  }
  40% {
    transform: perspective(400px) scaleX(1) translateZ(150px) rotateY(-190deg);
    animation-timing-function: ease-out
  }
  50% {
    transform: perspective(400px) scaleX(1) translateZ(150px) rotateY(-170deg);
    animation-timing-function: ease-in
  }
  80% {
    transform: perspective(400px) scale3d(.95, .95, .95) translateZ(0) rotateY(0deg);
    animation-timing-function: ease-in
  }
  to {
    transform: perspective(400px) scaleX(1) translateZ(0) rotateY(0deg);
    animation-timing-function: ease-in
  }
}

@keyframes bounce {
  0%, 20%, 53%, to {
    animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    transform: translateZ(0)
  }
  40%, 43% {
    animation-timing-function: cubic-bezier(.755, .05, .855, .06);
    transform: translate3d(0, -15px, 0) scaleY(1.1)
  }
  70% {
    animation-timing-function: cubic-bezier(.755, .05, .855, .06);
    transform: translate3d(0, -7.5px, 0) scaleY(1.05)
  }
  80% {
    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transform: translateZ(0) scaleY(.95)
  }
  90% {
    transform: translate3d(0, -2px, 0) scaleY(1.02)
  }
}

@keyframes shake {
  0%, to {
    transform: translateZ(0)
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-5px, 0, 0)
  }
  20%, 40%, 60%, 80% {
    transform: translate3d(5px, 0, 0)
  }
}
